a:link{
    background-color: yellow;
    text-decoration: none;/*removes the line under the link(whicg is by default)*/
    padding: 30px;
    position: relative;
    left: 40px;
    top: 40px;
}

a:hover{
    background-color: green;
    text-decoration: underline;
}

a:active{
    background-color: aqua;
    text-decoration: underline;
}