span{
    background-color: blue;
}

div{
    background-color: green;
}

#lol{
    background-color: aliceblue;
}

img{
    height: 450px;
    width: 500px;
}

.lol2{
    background-color: aquamarine;
}