body{
    font-family: Helvetica;
    background-color: #add8e6;
}

a{
    border: 3px solid pink;
}

h1{
    text-align: center;
}

h3{
    color: green;
}

table, th, td{
    border: 5px solid pink;
}
